apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  annotations: 
    volume.beta.kubernetes.io/storage-class: ""
  name: gluster-registry-claim
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: {{ gs_gluster_registry_volume_size }}Gi
  selector:
    matchLabels:
      glusterfs: registry-volume
