apiVersion: v1
kind: Endpoints
metadata:
  name: {{ gluster_registry_endpoint_name }}
subsets:
- addresses:
{% for host in groups[cluster_group] %}
  - ip: {{ hostvars[host]['ansible_default_ipv4']['address'] }}
{% endfor %}
  ports:
  - port: 1
    protocol: TCP
